<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
    <httpRuntime maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.6"/>
    <customErrors mode="Off"/>

      <machineKey
  validationKey="B6F60C5434AB5D2ED054E731FF1C2FB945EDA32D42CFDBD322280D6721F469B84D8F8FD81F2756C4724DD43214E1D3808AF317BC52FECE529D3DFC6BD2CC5B01"
  decryptionKey="C5000C045F01E7283EA642FB86A2AC46A7F5A6E12D8C831651440FBA1A37883A"
  validation="SHA1" decryption="AES"
  />
  </system.web>
  
   <system.webServer>
   <security>
      <requestFiltering>
         <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
   </security>

 </system.webServer>
  
   <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="PaymentMode" value="live" />
    <add key="PF_MerchantId" value="12252017 " />
    <add key="PF_MerchantKey" value="osh7s8j8ullz2" />
    <add key="PF_ReturnURL" value="https://qaelo.com/Web/Users/Shop/ManageListings.aspx" />
    <add key="PF_CancelURL" value="https://qaelo.com/Web/Users/Shop/ManageListings.aspx" />
    <add key="PF_NotifyURL" value="https://qaelo.com/Web/Users/Shop/ManageListings.aspx" />

  </appSettings>
   
  <!--Afrihost
  <connectionStrings>
    <add name="conString" connectionString="server=octopussy.aserv.co.za;uid=qaeloruy_dbuser;pwd=qC0i(f)W344H;database=qaeloruy_qaelo" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>-->

  <!--Local database-->
  <connectionStrings>
    <add name="conString" connectionString="server=127.0.0.1;user ID = root; password=1990seuwe;database=qaelodb" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
  
  <!--
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
-->
</configuration>
